<div class="logincontainer">
    <h1 class="title login">Login</h1><br>
    <div class="loginform">
        <form>
            <input type="text" name="username_input" id="username_input" [(ngModel)]="username_input" class="input is-info" placeholder="Username"><br><br>
            <input type="password" name="password" id="password" class="input is-info" placeholder="Password"><br><br>
            <button type="submit" (click)="login_click()" class="submit">Submit</button><br>
            {{error}}     
        </form>
    </div>
</div>
        