<div class="homecontainer">
    <h3>Welcome {{username}}</h3>
    <h3>Your role: {{role}} </h3>
        
    <h2>Group:</h2>
        <li *ngFor="let group of groups" [value]="group.name" (click)="selectGroup(group.name)"><a>{{group.name}}</a></li>

    <div *ngIf="selectedGroup">
        <h2>Channels:</h2>
        <li *ngFor="let channel of selectedGroupChannels" [value]="channel" (click)="chosenChannel(channel)"><a>{{channel}}</a></li>
    </div>

    <div *ngIf="manageLoggedIn" class="managebutton">
        <a class="manage" routerLink="/manage">Manage</a><br><br>
    </div>
        
    <div class="homelogout">
        <button class="button logout" (click)="logout()">Logout</button>
    </div>
</div>